$color-principal: #ff6b00;
$color-secundario: #111827;
$color-terciario: #1d4ed8;
$color-claro: #f3f4f6;
$color-blanco: #ffffff;
$color-texto: #333333;
// Tipografía
$font-main: 'Poppins', sans-serif;